body.all {
    background-image: url(../images/csbe.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    position: relative;
    margin: 0px;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav a.active {
    background-color: rgb(125, 123, 123);
}

nav a:hover {
    background-color: #555;
    font-size: 15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body.sign_in {
    margin: 0;  
    padding: 0;  
    background-color:#555;  
    font-family: Arial, Helvetica, sans-serif;
}

.login {  
    width: 382px;  
    overflow: hidden;  
    margin: auto;
    margin-block-start: 130px;
    padding: 100px;  
    padding-top: 50px;
    background: #afafaf;  
    border-radius: 15px;
}  

h1.sign-in {  
    text-align: center;  
    color: #ffffff;  
    padding: 20px;  
} 

label {  
    color: #555;  
    font-size: 17px;  
}

#username {  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
} 

#password {  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;   
}  

button.sign-in {
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: #555; 
}

span {  
    color: white;  
    font-size: 17px;  
} 

div button:hover {
    background-color: rgb(167, 165, 165);
    font-size: 17px;
    color: #ffffff;
}

button.create-new {
    color: rgb(255, 255, 255);
    margin: auto;
    width: 300px;
    height: 40px;
    background-color: rgb(98, 98, 98);
    font-family: sans-serif;
    font-size: larger;
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
}

button.finish {
    Color: white;
    width: 100px;
    height: 40px;
    background-color: rgb(144, 144, 144);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 15px;
    font-size: large;
}

table.products-categorys-table {
    border: 1px solid rgb(19, 19, 19);
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(167, 166, 166);
}

th.products-categorys-header {
    border: 3px solid rgb(38, 38, 38);
    border-collapse: collapse;
    background-color: rgb(143, 143, 143);
    font-size: larger;
}

td {
    border: 3px solid rgb(46, 46, 46);
    border-collapse: collapse;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    font-size: large;
}

input {
    margin-left: auto;
}

table.new-category-product {
    border-collapse: collapse;
    border: 2px solid rgb(84, 82, 82);
}

td.new-category-product {
    color: black;
    font-size: large;
    border: 1px solid #afafaf;
}

body.new-category-product {
    background-color: rgb(236, 236, 236);
}